<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Catalog Maintenance</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	<h2 align="center" style="color: Blue; font: Bold">Catalog Maintenance</h2>
	<div class="container my-2">
		<div  style="border: 14px; border-color:blue">
			<div class="card-body">
				<div th:switch="${catalogs}" ><!-- class="container my-5" -->
					<p class="my-5">
													
						<a href="/merge" class="btn btn-primary"> <i
							class="fas fa-user-plus ml-2"> Mega Merge </i></a>
						<a href="/showall" class="btn btn-primary"> <i
							class="fas fa-user-plus ml-2"> Show All Catalogs </i></a>
						<a href="/edit" class="btn btn-primary"> <i
							class="fas fa-user-plus ml-2"> Add Catalog </i></a>
					</p>

					<div class="col-md-10" id="catalogs" >
						<h2 th:case="null">No record found !!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md" id="table">
								<thead>
									<tr>
										<th>SKU ID</th>
										<th>Product Name</th>
										<th>Catalog Name</th>
										<th>Modify Suppliers</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="catalogItem : ${catalogs}" id="catalogs">
										<td th:text="${catalogItem.skuId}"></td>
										<td th:text="${catalogItem.productDesc}"></td>
										<td th:text="${catalogItem.catalogName}"></td>
										<td><a th:href="@{/modify/{id}(id=${catalogItem.id})}"
											class="btn btn-primary"> <i class="fas fa-user-edit ml-2"></i>
										</a></td>
										<td><a th:href="@{/delete/{id}(id=${catalogItem.id})}"
											class="btn btn-primary"> <i
												class="fas fa-user-times ml-2"></i>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
</body>

</html>